{% extends "base.html" %}

{% block content %}

<center>
  <form method = "POST">
    <table>
      <tr>
	<td>
	  Input Text:
	</td>
	<td>
	  <input type="text" name="line" class="line" required> <br>
	</td>
      </tr>
      <tr>
      </tr>
      <tr>
	<td>
	  Meme Type:
	</td>
	<td>
	  <input type="radio" name="meme" value="yoda"> Yoda <br>
	</td>
      </tr>
      <tr> <td> </td>
	<td>
	  <input type="radio" name="meme" value="l33t"> l33t sp34k <br>
	</td>
      </tr>
      <tr> <td> </td>
	<td>
      <input type="radio" name="meme" value="wonka"> Wonka <br>
	</td>
      </tr>
      <tr> <td> </td>
	<td>
	  <input type="radio" name="meme" value="cat"> Grumpy Cat <br>
	</td>
      </tr>
      <tr> <td> </td>
	<td>
	  <input type="radio" name="meme" value="bar"> Barista <br>
	</td>
      </tr>
      <tr>
	<td colspan="2" align="center">
	  <input type="submit" name="button" value="Create Meme" class="button">
	</td>
      </tr>
    </table>
  </form>
</center>

{% endblock %}

